.NavBar {
    display: flex;
    width: auto;
    font-size: large;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 2em;
    /* background-color: var(--primary); */
}

.heading {
    margin-top: 0.4em;
}

.home {
    margin-left: 1em;
    margin-top: 0.5em;
}

.loginregister {
    display: flex;
    margin-left: auto;
}

.login {
    margin-right: 1em;
}

button {
    border: none;
    background-color: var(--primary);
    color: var(--light);
    padding: 0.5em 1em;
    font-size: large;
    border-radius: 0.5em;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary);
}